<div class="mob-menu is-open">
  <div class="mob-menu-header">
    <a class="mob-menu-logo" href="../index.html">yachtjet</a>
    <svg width="22" height="22" class="mob-menu-close">
      <use href="./img/svg/sprite.svg#icon-cross"></use>
    </svg>
  </div>
  <nav>
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#about">About</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#yachts">Yachts</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="rewiews">Reviews</a>
      </li>
    </ul>
  </nav>
  <div class="mob-messenger-list">
    <ul class="mob-icon-list">
      <li class="mob-icon-item">
        <a href="https://www.instagram.com/goitclub/"><svg width="19" height="19" class="mob-messenger-icon">
            <use href="./img/svg/sprite.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="mob-icon-item">
        <a href="https://www.youtube.com/c/GoIT"><svg width="19" height="19" class="mob-messenger-icon">
            <use href="./img/svg/sprite.svg#icon-yt"></use>
          </svg>
        </a>
      </li>
      <li class="mob-icon-item">
        <a href="https://www.facebook.com/goITclub/"><svg width="19" height="19" class="mob-messenger-icon">
            <use href="./img/svg/sprite.svg#icon-fb"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>