<section class="rent-price">
  <div class="container price-card-container">
    <h3 class="price-card-head">
      Choose your dream yacht and sail away into the sunset
    </h3>
    <ul class="price-card-list">
      <li class="price-card-item">
        <picture class="yacht-img">
          <source
            srcset="
              ./img/price/arrow-mob.jpg    1x,
              ./img/price/arrow-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/price/arrow-tab.jpg    1x,
              ./img/price/arrow-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/price/arrow.jpg 1x, ./img/price/arrow-2x.jpg 2x"
            media="(min-width: 1180px)"
          />
          <source
            srcset="
              ./img/price/arrow-main-1x.jpg 1x,
              ./img/price/arrow-main-2x.jpg 2x
            "
            media="(min-width: 1340px)"
          />
          <img src="./img/price/arrow-main-1x.jpg" alt="yacht" />
        </picture>
        <div class="description-container">
          <div class="top-card-text">
            <p class="name-yacht-text">Arrow</p>
            <p class="luxury-text">LUXURY YAHTS</p>
          </div>
          <div class="yacht-description">
            <ul class="description-card-list">
              <li class="description-card-item"><p>LENGTH</p></li>
              <li class="description-card-item"><p>BUILDER</p></li>
              <li class="description-card-item"><p>BUILT</p></li>
              <li class="description-card-item"><p>GUESTS</p></li>
              <li class="description-card-item"><p>PRICE</p></li>
            </ul>
            <ul class="description-parameter-list">
              <li class="description-parameter-item">
                <p>48m(155ft)</p>
              </li>
              <li class="description-parameter-item">
                <p>Admiral</p>
              </li>
              <li class="description-parameter-item">
                <p>2021</p>
              </li>
              <li class="description-parameter-item">
                <p>11 in 5 cabins</p>
              </li>
              <li class="description-parameter-item">
                <p>€33,500,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="price-card-item yacht-card-benetti">
        <picture class="yacht-img">
          <source
            srcset="
              ./img/price/benetti-tab.jpg    1x,
              ./img/price/benetti-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/price/benetti.jpg 1x, ./img/price/benetti-2x.jpg 2x"
            media="(min-width: 1180px)"
          />
          <source
            srcset="
              ./img/price/benetti-main-1x.jpg 1x,
              ./img/price/benetti-main-2x.jpg 2x
            "
            media="(min-width: 1380px)"
          />
          <img src="./img/price/benetti.jpg" alt="yacht" />
        </picture>
        <div class="description-container">
          <div class="top-card-text">
            <p class="name-yacht-text benetti">BENETTI OASIS 40M BO</p>
            <p class="luxury-text">LUXURY YAHTS</p>
          </div>
          <div class="yacht-description">
            <ul class="description-card-list">
              <li class="description-card-item"><p>LENGTH</p></li>
              <li class="description-card-item"><p>BUILDER</p></li>
              <li class="description-card-item"><p>BUILT</p></li>
              <li class="description-card-item"><p>GUESTS</p></li>
              <li class="description-card-item"><p>PRICE</p></li>
            </ul>
            <ul class="description-parameter-list">
              <li class="description-parameter-item">
                <p>41m (133ft)</p>
              </li>
              <li class="description-parameter-item">
                <p>Benetti</p>
              </li>
              <li class="description-parameter-item">
                <p>2025</p>
              </li>
              <li class="description-parameter-item">
                <p>10 in 5 cabins</p>
              </li>
              <li class="description-parameter-item">
                <p>€23,210,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="price-card-item yacht-card-belle">
        <picture class="yacht-img">
          <source
            srcset="./img/price/belle.jpg 1x, ./img/price/belle-2x.jpg 2x"
            media="(min-width: 1180px)"
          />
          <source
            srcset="
              ./img/price/belle-main-1x.jpg 1x,
              ./img/price/belle-main-2x.jpg 2x
            "
            media="(min-width: 1380px)"
          />
          <img src="./img/price/belle-main-1x.jpg" alt="yacht" />
        </picture>
        <div class="description-container">
          <div class="top-card-text">
            <p class="name-yacht-text">BELLE ANNA</p>
            <p class="luxury-text">LUXURY YAHTS</p>
          </div>
          <div class="yacht-description">
            <ul class="description-card-list">
              <li class="description-card-item"><p>LENGTH</p></li>
              <li class="description-card-item"><p>BUILDER</p></li>
              <li class="description-card-item"><p>BUILT</p></li>
              <li class="description-card-item"><p>GUESTS</p></li>
              <li class="description-card-item"><p>PRICE</p></li>
            </ul>
            <ul class="description-parameter-list">
              <li class="description-parameter-item">
                <p>50m(155ft)</p>
              </li>
              <li class="description-parameter-item">
                <p>ISA</p>
              </li>
              <li class="description-parameter-item">
                <p>2012</p>
              </li>
              <li class="description-parameter-item">
                <p>12 in 6 cabins</p>
              </li>
              <li class="description-parameter-item">
                <p>€21,000,000</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="price-card-button" href="#yacht-rental">
      Yacht rental
    </button>
  </div>
</section>
