/*----------------Header---------------*/

.header {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  top: 0;
  transform: translateY(0);
  z-index: 999;
}
.header-container {
  width: 335px;
  height: 42px;
  padding: 0 20px;
  margin: 0 auto;
  background: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  position: relative;
}

.header-nav-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.header-nav-list {
  display: none;
}
.header-social-list {
  display: none;
}
.header-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.header-button-open {
  stroke: #1b414b;
}

/*------------------Media Header---------------*/
@media screen and (min-width: 375px) and (max-width: 767px) {
  .header {
    padding-top: 20px;
  }
  .header-container {
    min-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 32px 0;
  }
  .header-container {
    min-width: 704px;
    height: 48px;
    padding: 0 30px;
    justify-content: space-between;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-nav-logo {
    font-size: 20px;
    margin-right: 108px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .header-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    transition: all 250ms ease-in-out;
  }

  .header-nav-item:hover,
  .header-nav-item:focus {
    background-color: #1b414b;
  }

  .header-nav-link {
    color: rgb(251, 251, 251);
    font-size: 9px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0em;
    text-transform: uppercase;
    padding: 15px 24px;
  }
  .header-social-list {
    display: flex;
    gap: 12px;
  }
  .header-social-item {
    fill: #1b414b;
    transition: fill 25s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
  .header-social-item:hover,
  .header-social-item:focus {
    fill: #062730;
  }

  .header-button {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    min-width: 1080px;
    padding: 0 30px;
  }
  .header-nav-logo {
    margin-right: 296px;
  }
}
